@model List<MovieReviewPassionProject.Models.ReviewDto>


@{
    ViewBag.Title = "List";
}
<a href="/Review/New" class="navlink">Add</a>
<div class="detailInfo">
    <h1>Reviewers:</h1>
    <div>
        @foreach (var review in Model)
        {
            <h2><a href="/Review/Details/@review.ReviewID">@review.AuthorName</a></h2>
            <div>Reviewed Movie :@review.MovieName</div>
            <div>Ratings : @review.StarRatings</div>
            <div>Review Date : @review.ReviewDate</div>
            <div>Review : @review.ReviewDetail</div>
        }
    </div>

</div>