body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: azure;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#homepage-heading {
    margin-bottom: 1em;
    margin-top: 1.2em;
    margin-left: 5em;
    color: #BA1200;
}

h2, h3, a {
    color: red;
    font-weight: bold;
}

a:hover{
    color:blue !important;
}

.detailInfo{
    margin-top:5em;
}

#movie-info-message{
    line-height:1em;
}

h3 {
    padding-bottom: 1em;
    border-top: 1px solid black;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: beige;
}

.navlink {
    float: left;
    margin-right: 2em;
    border:1px solid black;
    background-color:blue;
    color:white;
    padding:0.1em;
    margin-top:1em;
}

.dellink {
    color: white;
    float: right;
    border: 1px red black;
    background-color: red;
    margin-top: 1em;
    padding: 3px;
}

.flex-container{
    display:flex;
    flex-flow:row wrap;
}

.flex-item {
    margin-right: 3em;
}

.navbar-inverse {
    background-color: #BA1200;
    border-color: #080808;
}

#potato{
    height:50px;
}

#actor-pic, #movie-pic {
    margin-right: -1em;
    margin-top: 5em;
}

#movieInfo, #actorInfo {
    margin-top: 10em;
    margin-left: 7em;
    line-height: 4em;
    flex: 1;
}

#related-movies{
    padding-top:7em;
    line-height:2em;
}

.additional-info h3 , #related-movies h3 {
    padding-top: 1em;
}

@media screen and (max-width:360px){

    #homepage-heading {
        margin-top: 1.2em;
        color: #BA1200;
    }

    #homepage-cover {
        width: 305px;
        height: 205px;
    }

}