@{
    ViewBag.Title = "Home Page";
}
<h1 id="homepage-heading">Welcome to the Rotten Potatoes movie site</h1>
<img src="~/Content/img/cinema.jpg" alt="cover pic" width="1100" id="homepage-cover" />

<div class="row">
    <div class="col-md-4">
        <h2>Actors</h2>
        <p>
            Do you want to know some background information about a particular actor? Come click the link below!! This website has all the information of popular actors
            around the world! You might even find that you missed some of the best movies that the actor starred in.
        </p>
        <p><a class="btn btn-default" href="/Actor/List">Actors!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>Are you tired of watching your favorite movies over and over again? No worries! Come and click the button below to find your  new favorite movie to watch over and over again!</p>
        <p><a class="btn btn-default" href="/Movie/List">Movies!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>Come click the button to check out the reviews that are related to the movie that you want to watch. So you know whether the movie you want to watch is good or bad.</p>
        <p><a class="btn btn-default" href="/Review/List">Reviews!</a></p>
    </div>
</div>