 @model List<MovieReviewPassionProject.Models.ReviewDto>
@{
    ViewBag.Title = "Create";
}

<h2>Create Movie</h2>
<form action="/Movie/Create" method="POST">
    <div>
        <label>Name:</label><input name="MovieName" />
    </div>
    <div>
        <label>Genre:</label><input name="MovieGenre" />
    </div>
    <div>
        <label>Year:</label><input name="Year" />
    </div>
    <div>
        <label>Info:</label><input name="MovieInfo" />
    </div>
    <div>
        <label>Review author:</label>
        <select name="ReviewID">
            @foreach (var review in Model)
            {
            <option value="@review.ReviewID"> @review.AuthorName</option>
                }
        </select>
    </div>
    <div>
        <input type="submit" value="add movie" />
    </div>
</form>

